dash==2.13.0
dash_bootstrap_components==1.5.0
Flask==2.2.2
matplotlib>=3.0.0
numpy==1.24.3
pandas==1.5.3
keras
Pillow>=9.0.0,<11.0.0
Requests==2.31.0
gunicorn
tensorflow==2.14.0
tensorflow_datasets>=4.9.4
tensorflow_intel
